---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <div class="Headline">
        <h1>Levantémonos en defensa de nuestra educación y la investigación</h1>
        <strong>Por una Autoconvo&shy;cato&shy;ria en Exactas</strong>
      </div>
      <p>
        La educación está en la mira de un ataque sin precedentes. El recorte
        que viene sufriendo el presupuesto universitario impacta en faltantes de
        becas, en un ajuste en el presupuesto para el CONICET y la privatizacion
        de sus principales ingresos y en una reforma privatizadora de los planes
        de estudio. En la docencia rige el trabajo gratuito -adhonorem- o bajo
        la linea de la pobreza. Este es el programa del FMI para la educacion,
        el cual ha sido defendido por todos los partidos politicos del regimen.
      </p>

      <p>
        Este escenario se desarrolla mientras nuestros salarios se ven diezmados
        por una inflacion que aumenta semana a semana, la cual obliga a miles de
        compañeros a dejar sus estudios para dedicarse a tomar mas horas de
        trabajo.
      </p>

      <p>
        La conducción del CECEN, Identidad - La Cámpora, está completamente
        ligada al gobierno actual, y ha sido impulsor y defensor de estos
        atropellos en la universidad.
      </p>

      <p>
        Lo vimos en la última asamblea, dónde la conduccion de nuestro centro de
        estudiantes presentó una mocion que apoya al recorte de horas en
        Historia de la Ciencia. Dicen pelear contra los Bullrich y Milei, pero
        impulsan el ataque a nuestras condiciones de cursada.
      </p>

      <h2>¿Qué hacemos?</h2>

      <p>
        La movilizacion de estudiantes y trabajadores es el camino para defender
        nuestra educacion y nuestro trabajo frente al ajuste del gobierno
        actual, y frente a las promesas de vaciamiento que impulsan los
        candidatos que se proponen gobernar a partir de diciembre.
      </p>

      <p>
        Es nuestra tarea tomar las herramientas para impulsar esta movilizacion
        en nuestra facultad: construir asambleas interclaustros, votar cuerpos
        de delegados por cursos, impulsar la reaccion estudiantil y docente en
        defensa de la educacion. Como hicieron los docentes jujeños y los
        trabajadores de la salud, el camino para defender nuestros derechos es
        la autoconvocatoria.
      </p>

      <h2>¿Cómo funcionaría?</h2>

      <p>
        Podemos reunirnos semanal, quincenal o mensualmente. Podemos conformar
        comisiones. Podemos votar delegados en cada curso. Podemos organizar
        charlas, plenarios, congresos.
      </p>

      <p>
        Podemos fiscalizar el presupuesto, los negociados de la universidad.
        Podemos hacer relevamientos edilicios, de los laboratorios, de las
        aulas.
      </p>

      <p>
        Podemos organizar un comedor universitario, podemos crear una revista,
        podemos convocar movilizaciones, sentadas, aplausazos, carteleadas.
      </p>

      <p>
        Podemos intervenir en la crisis actual, impulsando nuestro propio
        reclamo, y nuestra propia estrategia.
      </p>

      <p class="center">...</p>

      <p>
        El gobierno actual está en retirada, y junto a ella trae una
        <strong>hiperinflación</strong> una <strong>devaluación</strong> y un <strong
          >ajuste</strong
        > a la clase obrera. La única manera de enfrentar el ajuste futuro es
        derrotar el ajuste actual.
      </p>

      <h2>¿Querés sumarte a esto?</h2>
      <CallToAction
        answer="¡Sí ✊🔥!"
        href="https://forms.gle/57Q2PKQFpHd197Kx9"
      />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .Headline {
    margin-bottom: 1em;
  }
  .Headline > h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: .25em;
    /* text-align: center; */
    /* margin-bottom: 1em; */
  }
  .Headline > strong {
    font-size: 2em;
    font-weight: 400;
    font-style: italic;
  }

  .center {
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
  @media screen and (max-width: 426px) {
    h1 {
      /* text-align: justify; */
      word-wrap: break-word;
      overflow-wrap: break-word;
      font-size: 2em;

      hyphens: manual;
      /* -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto; */
    }
    p {
      /* text-align: justify; */

      word-wrap: break-word;
      overflow-wrap: break-word;

      /* hyphens: auto; */
      font-size: 1.2rem;
    }
  }
</style>
