---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section>
      <h1>Por una Autoconvocatoria en Exactas</h1>

      <p>
        Durante este gobierno hubo un ajuste muy fuerte en las universidades. Se
        recortaron becas, se recortó el presupuesto para el CONICET y se
        privatizaron sus principales ingresos, se recortó el presupuesto
        educativo, se quitó a los Adhonorem y jubliados del DOSUBA (la obra
        social de la facultad), se recortaron planes de estudio, se recortaron
        horas de cursada.
      </p>

      <p>
        Ni hablar de nuestros salarios, que se vieron diezmados por un 553% de
        inflación. Frente a esto, el "plan platita" de Massa, unas 30 lucas para
        los laburantes en blanco durante septiembre y octubre, es un insulto.
      </p>

      <p>
        La conducción del CECEN, Identidad - La Cámpora, está completamente
        ligada al gobierno actual, y ha sido impulsor y defensor de estos
        atropellos en la universidad.
      </p>

      <p>
        Lo vimos en la última asamblea, dónde presentó una mocion que apoya al
        recorte de horas en Historia de la Ciencia. Dicen pelear contra los
        Bullrich y Milei, pero terminan allanando su camino
      </p>

      <h2>¿Qué hacemos?</h2>

      <p>
        Los estudiantes y trabajadores no aceptamos esta situación, y desde los
        residentes de medicina hasta los docentes de Jujuy nos hemos
        autoconvcado, de esta forma organizamos movilizaciones y huelgas que
        hicieron temblar de raíz el ajuste que nos hacen vivir las políticas del
        FMI.
      </p>

      <p>
        En exactas tenemos que impulsar esto mismo, una asamblea autoconvocada,
        que organice un cuerpo de delegados, que impulse petitorios, aplausazos,
        sentadas, movilizaciones y la coordinación con los docentes y no
        docentes de la facultad.
      </p>

      <p>
        El gobierno actual está en retirada, y junto a ella trae una
        <strong>hiperinflación</strong> una <strong>devaluación</strong> y un <strong
          >ajuste</strong
        > a la clase obrera. La única manera de enfrentar el ajuste futuro es
        derrotar el ajuste actual.
      </p>

      <h2>¿Cómo funcionaría?</h2>

      <p>
        Podemos reunirnos semanal, quincenal o mensualmente. Podemos conformar
        comisiones. Podemos votar delegados en cada curso. Podemos organizar
        charlas, plenarios, congresos.
      </p>

      <p>
        Podemos fiscalizar el presupuesto, los negociados de la universidad.
        Podemos hacer relevamientos edilicios, de los laboratorios, de las
        aulas.
      </p>

      <p>
        Podemos organizar un comedor universitario, podemos crear una revista,
        podemos convocar movilizaciones, sentadas, aplausazos, carteleadas.
      </p>

      <p>
        Podemos intervenir en la crisis actual, impulsando nuestro propio
        reclamo, y nuestra propia estrategia.
      </p>

      <h2>¿Querés sumarte a esto?</h2>
      <CallToAction answer="¡Sí ✊🔥!" />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
